<hmtl>
	<head>
		<title>
			ApexCharts
		</title>
		<script src="apexcharts.js"></script>

		<style>
		body {
			color: hsl(260,100%,30%);
			font-family: Helvetica;
			margin: 0;
			padding: 0;
			background: hsl(260,0%,90%);
		}
		a {
			text-decoration: none;
		}
		h1,h2,h3,h4,h5,h6,p {
			margin: 2%;
		}
.header {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	background: hsl(260,100%,90%);
	padding: 1% 0 1% 0;

}
.headerToggle {
	width: 40%;
	padding-left: 22%;
}
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 20%;
	background: white;
	box-shadow: 5px 0px 5px hsl(260,100%,25%);
	z-index: 3;
}

.sidebarHead {
	color: white;
	background: hsl(260,100%,40%);
	padding: 5%;
}
.sidebarHead .username {
	border-left: 10px solid hsl(260,100%,70%);
	border-radius: 45px;
	color: black;
	padding: 2%;
	background: white;
}
.sidebarContent {
	padding: 5%;

}
.sidebarContent a {
	color: hsl(260,100%,95%);
	background: hsl(260,100%,55%);
	border-radius: 5px;
	margin-bottom: 5%;
	display: block;
	padding: 5% 5% 5% 5%;
	transition: all 0.3s ease-in-out;
}
.sidebarContent a:hover {
	margin-left: 10%;
	background: hsl(260,100%,35%);
}
.px {
position:fixed;
top:0;
left:0;
width:100%;
height:75%;
background-image:url('1.jpg');
background-size:cover;
background-attachment:fixed;
background-repeat:no-repeat;
opacity:1;
z-index:-1;
}
.tpx {
position:absolute;
height:100%;
width:inherit;
background:hsl(260,100%,20%);
opacity:0.9;
box-shadow:2px 6px 6px 2px black;
}

.grid-container {
  margin-top: 3%;
  margin-left: 20%;
  width: 78%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 1%;
}
.grid-item {
	background: white;
	border-left: 10px solid hsl(260,100%,40%);
	box-shadow: 5px 5px 5px hsl(220,1%,15%);
	padding: 0;
	margin: 2%;
	border-radius: 10px;
}
.cardCaption {
	margin-left: 5%;
}
.card {
	background: hsl(260,100%,75%);
	border-radius: 15px;
	padding: 3%;
	margin: 5%;
	box-shadow: 2px 2px 2px gray;

}
form {
	margin: 5%;
}
 input {
 	margin-bottom: 5%;
	border: 1px solid gray;
	border-left: 10px solid hsl(260,100%,40%);
	padding: 3%;
	width: 100%;
	background: white;
	font-weight: bold;
}
.notifyContent {
	margin: 5%;
	text-align: center;
}
.num {
	margin: 5%;
	font-size: 250%;
}
.toggleLink {
  color: white;
  padding: 2%;
  background: hsl(260,100%,30%);
  border-radius: 20px;
}

@media(max-width: 800px) {
	.grid-container {
		width: 95%;
		margin-left: 0;
		margin-top: 15%;
		grid-template-columns: auto;
	}
	.grid-item {
		margin: 2%;
	}
	.sidebar {
	    visibility: hidden;
		width: 0;
		opacity: 0;
		transition: width 0.2s ease-in, opacity 0.5s ease-in 0.2s;
	}
	.headerToggle {
		width: 100%;
		padding-left: 5%;
	}
	.header:hover .sidebar {
		visibility: visible;
		width: 85%;
		opacity: 1;
	}
	.sidebarContent a {
		transition: all 0.5s ease-out 0.5s;
		opacity: 0;
		margin-top: 0;
	}
	.header:hover .sidebarContent a {
		opacity: 1;
		margin-top: 5%;
	}
	.header {
		z-index: 20;
	padding: 5% 0 5% 0;

}
}
	</style>
	</head>
	<body>
		
  <div class="header">
  	<div class="headerToggle">
  		<span><strong>Apex Dashboard</strong></span>
  	<a href="#" class='toggleLink'>Toggle Sidebar</a>

  	<div class="sidebar">
  	
  	<div class="sidebarHead">
  		<h2>Apex Dashboard</h2>
  		<h5>Charts made with ApexCharts</h5>
  		<p class="username">Username</p>
  		<p class="username">Role</p>
  		<p class="username">Daily todos</p>
  	</div>

  	<div class="sidebarContent">
  		<a href="#">Dashboard</a>
  		<a href="#">Account</a>
  		<a href="#">Reports</a>
  		<a href="#">Settings</a>
  		<label for="search">Search :</label><br>
        <input type="text" id="search" name="fname" value="John"><br>
        <label for="search">Chat</label><br>
        <input type="text" id="search" name="fname" value="John"><br>
  	</div>
  </div>

  </div>

  


  </div>
  

  <div class="grid-container">
  	<div class="px"><div class='tpx'></div></div>
  <div id="g01" class="grid-item"><h2 class="cardCaption">Today's sales</h2>

  	<div class="notifyContent"><span class='num'>36</span><span>Items</span></div>

  </div>
  <div id="g02" class="grid-item"><h2 class="cardCaption">Today's sales</h2>

  <div class="notifyContent"><span>Rp.</span><span class='num'>140.800,00</span></div>

  </div>
  <div id="g03" class="grid-item"><h2 class="cardCaption">Unfinished Orders</h2>

  <div class="notifyContent"><span class='num'>7</span><span>Invoices</span></div>


  </div>  
  <div id="g1" class="grid-item"><h2 class="cardCaption">Yearly sales</h2></div>
  <div id="g2" class="grid-item"><h2 class="cardCaption">Monthly earnings</h2></div>
  <div id="g3" class="grid-item"><h2 class="cardCaption">Revenue rates</h2></div>  
  <div id="g4" class="grid-item"><h2 class="cardCaption">Transaction ratio</h2></div>
  <div id="g5" class="grid-item"><h2 class="cardCaption">Latest posts</h2>

  <div class="card">
  	<h4>Post title 1</h4>
  	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip..</p>
  </div>

  <div class="card">
  	<h4>Post title 1</h4>
  	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip..</p>
  </div>

  </div>  
  <div id="g6" class="grid-item"><h2 class="cardCaption">Action</h2>

  <form >
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
  </form> 
</div>
  </div>


		<script>

function drawChart() {
var options = {
  chart: {
    type: 'area',
    stacked: false
  },
  dataLabels: {
    enabled: false
  },
  colors: ["#FF1654", "#247BA0","hsl(260,100%,40%)"],
  series: [
    {
      name: "Series A",
      data: [1.4, 2, 2.5, 1.5, 2.5, 2.8, 3.8, 4.6]
    },
    {
      name: "Series B",
      data: [20, 29, 37, 36, 44, 45, 50, 58]
    },
    {
      name: "Series C",
      data: [20, 47, 57, 26, 74, 45, 30, 28]
    }
  ],
  stroke: {
    width: [4, 4,4]
  },
  plotOptions: {
    bar: {
      columnWidth: "20%"
    }
  },
  xaxis: {
    categories: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]
  },
  yaxis: [
    {
      axisTicks: {
        show: true
      },
      axisBorder: {
        show: true,
        color: "#FF1654"
      },
      labels: {
        style: {
          colors: "#FF1654"
        }
      },
      title: {
        text: "Series A",
        style: {
          color: "#FF1654"
        }
      }
    },
    {
      opposite: true,
      axisTicks: {
        show: true
      },
      axisBorder: {
        show: true,
        color: "#247BA0"
      },
      labels: {
        style: {
          colors: "#247BA0"
        }
      },
      title: {
        text: "Series B",
        style: {
          color: "#247BA0"
        }
      }
    }
  ],
  tooltip: {
    shared: false,
    intersect: true,
    x: {
      show: false
    }
  },
  legend: {
    horizontalAlign: "left",
    offsetX: 40
  }
};
var chart = new ApexCharts(document.querySelector("#g1"), options);
chart.render();


var options2 = {
  chart: {
    type: 'bar',
    stacked: false
  },
  dataLabels: {
    enabled: false
  },
  colors: ["#FF1654", "#247BA0","hsl(260,100%,40%)"],
  series: [
    {
      name: "Series A",
      data: [1.4, 2, 2.5, 1.5, 2.5, 2.8, 3.8, 4.6]
    },
    {
      name: "Series B",
      data: [20, 29, 37, 36, 44, 45, 50, 58]
    },
    {
      name: "Series C",
      data: [20, 47, 57, 26, 74, 45, 30, 28]
    }
  ],
  stroke: {
    width: [4, 4,4]
  },
  plotOptions: {
    bar: {
      columnWidth: "20%"
    }
  },
  xaxis: {
    categories: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]
  },
  yaxis: [
    {
      axisTicks: {
        show: true
      },
      axisBorder: {
        show: true,
        color: "#FF1654"
      },
      labels: {
        style: {
          colors: "#FF1654"
        }
      },
      title: {
        text: "Series A",
        style: {
          color: "#FF1654"
        }
      }
    },
    {
      opposite: true,
      axisTicks: {
        show: true
      },
      axisBorder: {
        show: true,
        color: "#247BA0"
      },
      labels: {
        style: {
          colors: "#247BA0"
        }
      },
      title: {
        text: "Series B",
        style: {
          color: "#247BA0"
        }
      }
    }
  ],
  tooltip: {
    shared: false,
    intersect: true,
    x: {
      show: false
    }
  },
  legend: {
    horizontalAlign: "left",
    offsetX: 40
  }
};
var chart = new ApexCharts(document.querySelector("#g2"), options2);
chart.render();

var options3 = {
  chart: {
    type: 'line',
    stacked: false
  },
  dataLabels: {
    enabled: false
  },
  colors: ["#FF1654", "#247BA0","hsl(260,100%,40%)"],
  series: [
    {
      name: "Series A",
      data: [1.4, 2, 2.5, 1.5, 2.5, 2.8, 3.8, 4.6]
    },
    {
      name: "Series B",
      data: [20, 29, 37, 36, 44, 45, 50, 58]
    },
    {
      name: "Series C",
      data: [20, 47, 57, 26, 74, 45, 30, 28]
    }
  ],
  stroke: {
    width: [4, 4,4]
  },
  plotOptions: {
    bar: {
      columnWidth: "20%"
    }
  },
  xaxis: {
    categories: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]
  },
  yaxis: [
    {
      axisTicks: {
        show: true
      },
      axisBorder: {
        show: true,
        color: "#FF1654"
      },
      labels: {
        style: {
          colors: "#FF1654"
        }
      },
      title: {
        text: "Series A",
        style: {
          color: "#FF1654"
        }
      }
    },
    {
      opposite: true,
      axisTicks: {
        show: true
      },
      axisBorder: {
        show: true,
        color: "#247BA0"
      },
      labels: {
        style: {
          colors: "#247BA0"
        }
      },
      title: {
        text: "Series B",
        style: {
          color: "#247BA0"
        }
      }
    }
  ],
  tooltip: {
    shared: false,
    intersect: true,
    x: {
      show: false
    }
  },
  legend: {
    horizontalAlign: "left",
    offsetX: 40
  }
};
var chart = new ApexCharts(document.querySelector("#g3"), options3);
chart.render();

var options4 = {
          series: [44, 55, 41, 17, 15],
          chart: {
          type: 'donut',
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#g4"), options4);
        chart.render();

}

drawChart();

</script>
	</body>
</hmtl>
